{%block content%}

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>In Stock Checker</title>

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- BOOTSTRAP THEME -->

  <!-- CUSTOM STYLES -->

  <link rel="stylesheet" href="styles.css">

</head>

<body>

    <div class="jumbotron text-center" id="secondImage">
        <h1 class = "text-info">In Stock Gaming Items</h1>
    </div>

    {% if graphicsCardsChosen == True %}
        {% set dev = namespace(value=0) %}
       
            <div class="row m-5">  
                {% for row in range(graphicsCardInfo["imgArr"]|length) %}

                {% set dev.value = dev.value + 1 %}
                    <div class="col lg-6">
                        <img src = '{{graphicsCardInfo["imgArr"][dev.value-1]}}'></img>
                        <h6>{{graphicsCardInfo['titleArr'][dev.value-1]}}</h6>
                        <a href = '{{graphicsCardInfo["urlArr"][dev.value-1]}}'>{{graphicsCardInfo['stockArr'][dev.value-1]}}</a>
                    </div>
                
                {% endfor %}
            </div>

        {% endif %}

    {% if ps5Chosen == True %}
    <div class="row m-5"> 
        <div class="col-lg-6">
            <img src = '{{imgSrcPs5}}'></img>
            <h6>{{titlePs5}}</h6>
            <a href ="{{urlPs5}}"> {{inStockPs5}} </a>

        </div>
    </div>
    {% endif %}

    {% if xboxChosen == True %}
        {% set dev2 = namespace(value=0) %}
        
        <div class="row m-5">  
            {% for row in range(xboxInfo["imgArr"]|length) %}

            {% set dev2.value = dev2.value + 1 %}
                <div class="col lg-6">
                    <img src = '{{xboxInfo["imgArr"][dev2.value-1]}}'></img>
                    <h6>{{xboxInfo['titleArr'][dev2.value-1]}}</h6>
                    <a href = '{{xboxInfo["urlArr"][dev2.value-1]}}'>{{xboxInfo['stockArr'][dev2.value-1]}}</a>
                </div>
            
            {% endfor %}
        </div>

    {% endif %}
      
    {% if allChosen == True %}
        {% set dev = namespace(value=0) %}
       
        <div class="row m-5">  
            {% for row in range(totalTitleArr|length) %}

                {% set dev.value = dev.value + 1 %}
                <div class="col lg-6">
                    <img src = '{{totalImgArr[dev.value-1]}}'></img>
                    <h6>{{totalTitleArr[dev.value-1]}}</h6>
                    <a href = '{{totalUrlArr[dev.value-1]}}'>{{totalStockArr[dev.value-1]}}</a>
      
                </div>
            
            {% endfor %}
        </div>
    {% endif %}

</body>

{%endblock%}